.slider{
    appearance: none;
  -webkit-appearance: none;
    writing-mode: vertical-rl;
    direction: rtl;
    height: 260px ;
    width: 4px ;
    cursor: pointer;
   appearance: none;
 
  background:rgb(163, 163, 163) ;


  
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 14px;
  border-radius: 2px;
  background: #ffffff; 
}


